<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.optile.qe.tests.QuickTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginLogoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteFolderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createFolderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>renameFolderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>permanentlyDeleteFolderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fileUploadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
