<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Carmatch MX tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:01:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickTests.afterClass(java.lang.String)[pri:0, instance:org.optile.qe.tests.QuickTests@60addb54]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>17/07/02 11:02:17</td>   <td>30981</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:org.optile.qe.tests.QuickTests@60addb54]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>17/07/02 10:59:59</td>   <td>-107448</td> <td title="&gt;&gt;BaseTest.beforeSuite(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.optile.qe.tests.QuickTests@60addb54]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:00:31</td>   <td>-75755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.createFolderTest(java.lang.String)[pri:2, instance:org.optile.qe.tests.QuickTests@60addb54]">createFolderTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:01:06</td>   <td>-40388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.deleteFolderTest(java.lang.String)[pri:4, instance:org.optile.qe.tests.QuickTests@60addb54]">deleteFolderTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:00:16</td>   <td>-90657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.fileUploadTest(java.lang.String)[pri:1, instance:org.optile.qe.tests.QuickTests@60addb54]">fileUploadTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:00:00</td>   <td>-105956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.loginLogoutTest(java.lang.String, java.lang.String)[pri:0, instance:org.optile.qe.tests.QuickTests@60addb54]">loginLogoutTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:01:28</td>   <td>-17846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.permanentlyDeleteFolderTest(java.lang.String)[pri:5, instance:org.optile.qe.tests.QuickTests@60addb54]">permanentlyDeleteFolderTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>17/07/02 11:00:45</td>   <td>-61064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickTests.renameFolderTest(java.lang.String)[pri:3, instance:org.optile.qe.tests.QuickTests@60addb54]">renameFolderTest</td> 
  <td>main@1387228415</td>   <td></td> </tr>
</table>
